{% extends 'base.html' %}

{% block content %}

<div class="box_in"><h3>About this site</h3>
    <div id="about" class="slab">

        This is a free service for anyone who wants to keep a personal online diary, and is
        designed to be fast and easy to use. You won't see much complicated design
        and heavy graphics here.
        <p>
            When writing or communicating through this site, please be polite and courteous. Abuse will not be
            tolerated.
        </p>
        <p>

            On the Internet, information is everything. Privacy is essential. I will
            not rent, sell or share your email-address or the information you give me with <b>anyone</b>.

        </p>
        <p>

            If you decide to make your diary public, be very careful what personal
            information you put in it (eg. mail-adress, name, address).
            <br>There are lots of weird people out there. Trust me.

        </p>
        <p>
            I try to have this site as
            secure as possible, and if you discover any problems, please <a href="/contact/">contact me</a>.
        </p>
</div>
    <p>
    </p>
    <div id="diarytext" class="slab">

        There are many types of diaries, and many choose to share different things. The usual definition is that a diary
        a dated record of what's happened.
        <br>
        Having it online provides many improvements to the old hand-written type.

        <ul>

            <li>It's more secure, since it requires login credentials to use. No longer will siblings, parents or
                spouses snoop in private diaries.
            </li>
            <li>It has functions for backups, to prevent loss.
            </li>
            <li>It's searchable. This makes it a lot easier to find past events from keywords or dates.
            </li>
            <li>You can use the browsers spell check to get rid of pesky spelling errors.
            </li>
            <li>You can optionally have your diary public, for the world to read. You can then also get feedback from
                other users, and have interesting conversations.

            </li>
        </ul>
    </div>
    <p>

    </p>
    <div class="box_in">

        <h3>Different types of diaries</h3>

        <div id="typetext" class="slab">
            <h4>Personal diary</h4>
            Personal diaries have been written since written language was introduced.
            Typically, a diary contains relatively frequent records of the authors life
            and events, but it can be about anything.
            <hr>
            <h4>Secret diary</h4>
            Secret diaries are usually not shared with anyone, and hidden from public view. This is where you can share
            your inner
            most secrets and thoughts, and activities.
            <hr>
           <h4>Anonymous diary</h4>

            For many reasons, many people decide to write anonymously. It can be used to express
            feelings or experiences that they don't wish their surroundings to know about.
            <hr>
            <h4>Diet diary</h4>

            A diet diary is usually used to monitor and keep records of calory intake.
            It can be helpful to keep track of why one is losing or gaining weight.
            <hr>
           <h4>Dream diary</h4>

            Dream diaries are kept to keep track of dreams. It can be fun to try to
            interpret dreams, and it's often crucial to write it down as quickly as
            possible after waking up.
            <hr>
           <h4>Sleep diary</h4>

            Sleep disorders can be debilitating. Keeping track of sleep cycles can be very useful in their treatments.
            <hr>
            <h4>Travel diary</h4>
            Keeping a records of your travels is very useful. How often have you not
            tried to remember where you were on specific dates, or when that vacation
            was? Keeping track of this enhances your memory of journies.
            <hr>
            <h4>Fictional diary</h4>

            Fictional diaries tend to be intended for publication. There are many
            published works that come in the form of fictional journals or diaries.
            Some do pretend to be true, but it's usually fairly obvious that they are fictional.
        </div>
    </div>

    <p></p>
</div>

{% endblock %}
